{:user
 [[{:db/ident       :user/id
    :db/valueType   :db.type/uuid
    :db/cardinality :db.cardinality/one
    :db/unique      :db.unique/identity
    :db/index       true}
   {:db/ident       :user/active
    :db/valueType   :db.type/boolean
    :db/cardinality :db.cardinality/one}
   {:db/ident       :user/name
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/one}
   {:db/ident       :user/email
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/one
    :db/unique      :db.unique/identity
    :db/index       true}
   {:db/ident       :user/username
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/one
    :db/unique      :db.unique/identity
    :db/index       true}
   {:db/ident       :user/password
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/one}
   {:db/ident       :user/following
    :db/valueType   :db.type/long
    :db/cardinality :db.cardinality/one}
   {:db/ident       :user/followers
    :db/valueType   :db.type/long
    :db/cardinality :db.cardinality/one}
   {:db/ident       :user/follow
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/many}]]

 :thought
 [[{:db/ident       :thought/id
    :db/valueType   :db.type/uuid
    :db/cardinality :db.cardinality/one
    :db/unique      :db.unique/identity
    :db/index       true}
   {:db/ident       :thought/user
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/one}
   {:db/ident       :thought/text
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/one}
   {:db/ident       :thought/created-at
    :db/valueType   :db.type/instant
    :db/cardinality :db.cardinality/one}
   {:db/ident       :thought/likes
    :db/valueType   :db.type/long
    :db/cardinality :db.cardinality/one}
   {:db/ident       :thought/rethoughts
    :db/valueType   :db.type/long
    :db/cardinality :db.cardinality/one}
   {:db/ident       :thought/replies
    :db/valueType   :db.type/long
    :db/cardinality :db.cardinality/one}
   {:db/ident       :reply/source-thought
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/one}
   {:db/ident       :thought/hashtags
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/many}]]

 :rethought
 [[{:db/ident       :rethought/id
    :db/valueType   :db.type/uuid
    :db/cardinality :db.cardinality/one
    :db/unique      :db.unique/identity
    :db/index       true}
   {:db/ident       :rethought/user
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/one}
   {:db/ident       :rethought/has-comment
    :db/valueType   :db.type/boolean
    :db/cardinality :db.cardinality/one}
   {:db/ident       :rethought/comment
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/one}
   {:db/ident       :rethought/created-at
    :db/valueType   :db.type/instant
    :db/cardinality :db.cardinality/one}
   {:db/ident       :rethought/source-thought
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/one}
   {:db/ident       :rethought/hashtags
    :db/valueType   :db.type/string
    :db/cardinality :db.cardinality/many}]]

 :like
 [[{:db/ident       :like/id
    :db/valueType   :db.type/uuid
    :db/cardinality :db.cardinality/one
    :db/unique      :db.unique/identity
    :db/index       true}
   {:db/ident       :like/created-at
    :db/valueType   :db.type/instant
    :db/cardinality :db.cardinality/one}
   {:db/ident       :like/user
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/one}
   {:db/ident       :like/source-thought
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/one}]]

 :session
 [[{:db/ident       :session/id
    :db/valueType   :db.type/uuid
    :db/cardinality :db.cardinality/one
    :db/unique      :db.unique/identity}
   {:db/ident       :session/user
    :db/valueType   :db.type/ref
    :db/cardinality :db.cardinality/one}
   {:db/ident       :session/created-at
    :db/valueType   :db.type/instant
    :db/cardinality :db.cardinality/one}]]}